
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger container" role="alert">
    
    <p class="fs-3 text-center"><i class="bi bi-bag-x"></i> BOOK IS NOT FOUND</p>
</div>

